*.log
.DS_Store
.dart_tool/

.vscode/

*.iml
.classpath
.project
.settings
.gradle/
.idea/

node_modules/
/package-lock.json
/yarn.lock

.packages
.pub/

build/
ios/
android/
.ios/
.android/
.flutter-plugins
